.backgroundDefault {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1b1d1f;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  padding: 100px 20px 65px 20px;
  z-index:2;
  gap: 36px;
}
@media only screen and (max-width: 960px) {
  .backgroundDefault {
    padding: 100px 20px 50px;   
  }
}
@media only screen and (max-width: 1200px) {
  .backgroundDefault {
    width: 95%;
    left: 4%;    
  }
}
