.active{
    border: none;
    border-radius: 8px ;
    color:#FEF7EE ;
    background-color: #6F757C;
    padding: 8px;
    font-size:0.875rem ;
    font: 600;
}
.notActive {
    border: none;
    border-radius: 8px ;
    color:#FEF7EE ;
    background-color: #1B1D1F;
    padding: 8px;
    font-size:0.875rem ;
    font-weight: 500;
    
}
.notActive:hover{
    background-color: #6F757C;    
}