.active {
  border: none;
  border-radius: 8px;
  color: #fef7ee;
  background-color: #6f757c;
  padding: 8px;
  font-size: 0.875rem;
  font: 600;
}
.notActive {
  border: none;
  border-radius: 8px;
  color: #fef7ee;
  background-color: #1b1d1f;
  padding: 8px;
  font-size: 0.875rem;
  font-weight: 500;
}
.notActive:hover {
  background-color: #6f757c;
}
