.containerCardCoffe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.defaultContainer{
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 64px;
  align-items: center;    
  justify-content: center;
}
