.containerHeader {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.containerText {
  align-items: center;
  justify-content: center;
  display: flex;
  gap:10px;
  flex-direction: column;
  z-index: 2;
}

.vetor {
  position: absolute;
  height: auto;
  width: 250px;
  left: 50%;
  bottom: 14%;
}
@media only screen and (max-width: 900px) {
  .containerHeader {
    width: 100%;
  } /* Outros estilos para telas pequenas */
}
@media only screen and (max-width: 645px) {
  .containerHeader {
    width: 100%;
  }
  .vetor {
    width: 230px;
    bottom: 40%;
    left: 52%;
  }
}
