.big{
    font-size:2rem ;
    font-family: "DM sans";
    color: #FEF7EE;
    font-weight: 600;
}
.medium{
    font-size:1rem ;
    font-family: "DM sans";
    color: #FEF7EE;
    font-weight: 600;
}
.small{
    font-size:12px ;
    font-family: "DM sans";
    color: #FEF7EE;
    font-weight: 600;
}
.x-small{
    font-size:10px ;
    font-family: "DM sans";
    color: #FEF7EE;
    font-weight: 600;
}

.sub-title{
    font-size:1rem ;
    font-family: "DM sans";
    color: #6F757C;    
    text-align: center;
}
.sub-title-small{
    font-size:12px ;
    font-family: "DM sans";
    color: #6F757C;    
    text-align: center;
}